name: Daily Commit 2

on:
  workflow_dispatch:  # Ejecución manual desde GitHub
  schedule:
    - cron: "40 19 * * *"  # Ejecutar todos los días a las 20:18 UTC

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Run a script
      run: echo "Hello, world! This action runs manually or automatically."

    - name: Create a file with current date
      run: echo $(date) > date.txt

    - name: Configure Git
      run: |
        git config --global user.name 'JabelResendiz'
        git config --global user.email 'jabelresendiz18@gmail.com'

    - name: Pull latest changes
      run: git pull origin main

    - name: Commit changes
      run: |
        git add date.txt
        git commit -m "Commit diario automático"

    - name: Debug push
      run: |
        echo "GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}"
        git remote -v
        git status

    - name: Push changes
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/JabelResendiz/Rest_Client_API
        git push origin main
